<div *ngIf="tache.etat!=='EXECUTER' else loading" class="pt-2">
<table class="table table-bordered table-light ">  
<thead>
    <tr>
      <th class="col-1">Id</th>
      <th class="col-2">Tâche</th>
      <th class="col-2">Etat</th>
      <th class="col-6">Modifier</th>
      <th class="col-1">Supprimer</th>
      <th>Executer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="pt-4">{{tache.id}}
      </td>
      <td class="pt-4">{{tache.libelle}}</td>
      <td><button class="btn btn-info disabled mt-3">{{tache.etat}}
      </button></td>  
      <td>
        <div class="card-body pt-1">
          <form (ngSubmit)="handleEdit(myForm2)"  #myForm2="ngForm">
              <div class="form-group input-group">
                  <label for="text" class="pt-4 pr-2 mr-2 pl-2">Modifier une tache : </label>
                  <input class="form-control" id="text" name="libelle" ngModel required #libelle="ngModel" placeholder="Ajouter une libelle :">
                  <span style="color: red;" *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)">
                    <span *ngIf = "libelle.errors?.['required']" >Le libelle est obligatoire</span>
                    <span *ngIf = "libelle.errors?.['minLength']" >Le libelle doit avoir au moins 5 lettres</span>
                  </span>
                  <select class="form-select" aria-label="Default select example" required ngModel name="etat" #etat="ngModel">
                      <option selected>Selectionnez un etat</option>
                      <option value="En attente">En attente</option>
                      <option value="En cours">En cours</option>
                      <span style="color: red;" *ngIf="etat.invalid && (etat.dirty || etat.touched)">
                        <span *ngIf= "etat.errors?.['required']" >L'etat est obligatoire</span>
                      </span>
                  </select>
                  <button type="submit" [disabled]="myForm2.invalid" class="btn btn-outline-primary btn-lg m-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 
                    14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 
                    4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 
                    11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg></button>
              </div>
          </form>
          </div>
      </td>
      <td>
        <button (click)="handleDelete()" class="btn btn-outline-danger mt-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 
          0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 
          1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 
          4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></button>
      </td>
      <td class="pt-4">
          <form (ngSubmit)="handleEdit2(myForm2)"  #myForm2="ngForm">
            <button type="submit" class="btn btn-outline-dark btn-md ">Execution</button>
          </form>
      </td>
    </tr>
  </tbody>
</table>
</div> 
<ng-template #loading >
  Loading. . .
</ng-template> 
